/*-Varijable za boje----------------- */
$primarna: #5E81AC;
$sekundarna: #626D78;
$hover: #7b92ad;
$back: #343A40;
$light: #C2C7D0; 
$dark: #272c30;
$bjela: #ffffff;

.dark-mode .content-wrapper {
  background-color: $back;
}

/*-Header ---------------------------- */
.main-header {
  border-bottom: 1px solid $primarna;
}

[class*='sidebar-light'] .brand-link {
  border-bottom: 1px solid $primarna;
}

[class*='sidebar-dark'] .brand-link {
  border-bottom: 1px solid $primarna;
}

[class*='sidebar-dark']  {
  background-color: $dark;
}

/*-Button ---------------------------- */
.btn-default {
background-color: $primarna;
color: $bjela;
border-color: $primarna;
}

.btn-default:hover {
background-color: $hover;
color: $bjela;
border-color: $hover;
}

.btn-secondary {
  color: $bjela;
  background-color: $primarna;
  border-color: $primarna;
}

.btn-secondary:hover {
  color: $bjela;
  background-color: $hover;
  border-color: $hover;
}

.btn-primary.focus, .btn-primary:focus {
  color: $bjela;
  background-color: $hover;
  border-color: $hover;
}

.dark-mode .btn-app, .dark-mode .btn-default {
  background-color: $primarna;
  color: $bjela;
  border-color: $primarna;
}

.input-group .form-control {
background-color: $back;
border-color: $back;
color: $bjela
}

/*-Progress bar ------------------------ */
.progress-bar {
background-color: $hover;
}

/* - Input -------------------------------*/
.form-control {
  background-color: $sekundarna;
  color: $bjela;
  border-color: $sekundarna;
  }
  
  .input-group-text {
  background-color: $sekundarna;
  color: $bjela;
  border-color: $sekundarna;
  }

/* - Slider -------------------------------*/
.irs--shiny .irs-bar {
  border-top: 1px solid $primarna;
  border-bottom: 1px solid $primarna;
  background: $primarna;

}
.irs--shiny .irs-from, .irs--shiny .irs-to, .irs--shiny .irs-single {
  color: $light;
  background-color: $primarna;
}

.control-sidebar{
  padding: 20px;
}

.Reactable {
  background-color: #fff0;
}

.dark-mode .nav-tabs .nav-item.show .nav-link, .dark-mode .nav-tabs .nav-link.active {
  background-color: $dark;
}

/* alert ----------------------------*/
.alert-info {
  color: $bjela;
  background: $back;
  border-color: #9D9D9D;
}

.alert-success {
  color: $bjela;
  background: $hover;
  border-color: $hover;
}
/* footer ----------------------------*/
.dark-mode .main-footer {
  background-color: $back;
  border-color: $primarna;
}

/* card ----------------------------*/
.card {
   word-wrap: normal;
}

.dark-mode .card {
  background-color: $dark;
  color: $light;
}


